# run requirements
numpy @ https://mirrors.aliyun.com/pypi/packages/64/5f/3f01d753e2175cfade1013eea08db99ba1ee4bdb147ebcf3623b75d12aa7/numpy-1.24.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=ed094d4f0c177b1b8e7aa9cba7d6ceed51c0e569a5318ac0ca9a090680a6a1b1 ; platform_machine == "x86_64" and sys_platform == "darwin"
numpy ; platform_machine != "arm64"
cython #mac

# optional visualisation requirements
matplotlib
seaborn
sympy
pandas

## mayavi
setuptools
PyQt6
pyside6
mayavi

# optional requirements
h5py
scikit-learn
numba
trimesh
